* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #333;
  min-height: 100vh;
  background: linear-gradient(to right top, #051937, #004d7a, #008793);
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* QUOTE CONTAINER */

.quote-container {
  font-weight: 700;
  background: #fff;
  width: 90rem;
  padding: 2rem 3rem;

  border-radius: 1rem;
  box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

/* QUOTE TEXT */

.quote-text {
  font-size: 4.2rem;
  margin-bottom: 1.6rem;
}

.long-quote {
  font-size: 3.2rem;
}

.fa-quote-left {
  font-size: 5.4rem;
}

.quote-author {
  font-size: 2.4rem;
  font-weight: 400;
  font-style: italic;

  margin-bottom: 1.6rem;
}

/* BUTTONS */

.button-containers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.8rem;
  color: #fff;

  height: 4.6rem;
  border: none;
  border-radius: 1rem;
  background: #051937;
  outline: none;
  padding: 0 2.4rem;
  box-shadow: 0 0.45rem rgba(121, 121, 121, 0.3);

  transition: all 0.3s;
}

button:active {
  transform: translate(0, 0.45rem);
  box-shadow: 0 0.45rem rgba(255, 255, 255, 0.3);
}

.fa-quote-left {
  color: #051937;
}

.fa-twitter {
  font-size: 2.2rem;
}

.fa-comment-dots {
  font-size: 5.4rem;
  color: #051937;
  transform: scaleX(-1);
}

.btn--new-quote:hover {
  background: #004d7a;
}

.btn--twitter:hover {
  color: #38a1f3;
}

/* LOADER */

.loader {
  width: 6.2rem;
  height: 6.2rem;
  border: 5px solid #004d7a;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ERROR Message */

.error {
  font-size: 4.2rem;
  margin-bottom: 1.6rem;
}
